<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to the Writer Website</h1>
        <nav>
            <ul> <!--unordered list-->
                <li><a href="{% url 'index' %}"> Home </a></li> <!--list item - anchor used for hyperlinks-->
                <li><a href="{% url 'aboutus' %}"> About Us </a></li>
                <li><a href="{% url 'contact' %}"> Contact </a></li>
                <li><a href="{% url 'login' %}"> Log In </a></li>
                <li><a href="{% url 'signup' %}"> Sign Up </a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="features">
            <h2>Features</h2>
            <p>Discover the Amazing Features of Writer</p>
            <ul>
                <li>Manage your writing projects</li>
                <li>Connect with other writers</li>
                <li>Keep track of your writing progress</li>
                <li>Publish your works for others to read</li>
            </ul>
        </section>
    </main>
</body>
</html>